body {
    background-color: lightblue;
}

.navbar {
    background-color: black;
    font: white;
}

#brand-image {
    height: 70px;
    width: 80px; 
}

.navbar-nav {
    font: white!important;
    justify-content: flex-end;
}

.navbar-collapse {
    justify-content: flex-end;
}

#main {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    background-color: lightblue;
    margin-top: 2rem;
}

.carousel {
    width: 70%;
    height: 30%;
}

.footerNavbar {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 2rem;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.email {
    padding: 1rem;
    margin-bottom: 2rem;
}

.twitter {
    padding: 1rem;
}

.instagram {
    padding: 1rem;
}

.facebook {
    padding: 1rem;
}

/* body {
    background-color: lightblue; 
    background-image:url('https://images.unsplash.com/photo-1518176258769-f227c798150e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
} */

html {
    margin: 0;
}

/*///////////////////////////////////////////////////////////*/
/*////////////////////////BREWS CSS//////////////////////////*/
/*///////////////////////////////////////////////////////////*/

#brewPageWrapper {
    text-align: center;
}
#filterFormRevealBtn {
    margin-bottom: 1em;
    margin-top: 2em;
    margin: auto;
}

#filterBtn, #unfilteredBtn {
    margin-bottom: 1em;
    margin-top: 1em;
}

#filterForm {
    margin-top: 2em;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: none;
}

.abvRadioButtons, .typeCheckboxes {
    text-align: start;
}

.abvFilterDiv, .typeFilterDiv {
    margin-top: 1em;
    margin-bottom: 1em;
}

.beerCard {
    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    margin-top: 1em;
}

.beerImage {
    width: 100%;
}

#brewEmptyMessage {
    text-decoration: underline;
    color: red;
    margin-top: 1em;
    width: 80%;
}

/*////////////////////////////////*/
/*////////////HOMEPAGE////////////*/
/*////////////////////////////////*/

#sitesDiv {
    display: flex;
    justify-content: center;
    margin-left: 10rem;
}

#title-header, .title-center {
    color: white;
}

.card-img-top {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.card-footer {
    padding: 0;
    margin: 0;
}

.card {
    margin-bottom: 50px;

}


/*///////////////////////////////////////*/
/*/////////// MEDIA QUERIES /////////////*/
/*///////////////////////////////////////*/

/* medium break on bootstrap */
@media (min-width: 576px) {
    /* Homepage */

    /* Brews */
    #filterForm {
        border: 3px solid black;
        width: 50%;
        margin: auto;
    }

    /* BrewMasters */

    /* About */
}
/* large break on bootstrap */
@media (min-width: 768px){
    /* Homepage */

    /* Brews */

    /* BrewMasters */

    /* About */
}